.home {
  width: 90%;
  height: 90%;
  //background: red;
  border-radius: 10px;

  &__head {
    display: flex;
    align-items: center;

    .head_left {
      h2 {
        font-size: 40px;
        color: #ccc;
        line-height: 1.2;
      }

      h1 {
        font-size: 60px;
        line-height: 1.2;
      }
    }

    .head_right {
    }
  }

  &__body {

    .body_left {
      display: flex;
      flex-direction: column;

      strong {
        font-size: 120px;
        line-height: 1;
      }
      span{
        font-size: 30px;
      }
    }

    .body_right {
    }

  }

  &__footer {

  }
}